@media screen and (min-width: 768px) {
    button {
    width: 9rem;
    height: 3rem;
    font-size: large;
    font-style: bold;
}
.col-1 {
    width: 12rem;
    height: 57rem;
    /* background-color: ghostwhite; */
}



.btn-outline-primary {
    color: rgb(19, 114, 192);
    border-color: rgb(19, 114, 192);
}
.btn-outline-primary:hover {
    background-color: rgb(19, 114, 192);
}
.btn-outline-danger {
    color: rgb(194, 12, 12);
    border-color: rgb(194, 12, 12);
}
.btn-outline-danger:hover {
    background-color: rgb(194, 12, 12);
}
.full {
    height: 1000px;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;

    text-align: left;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: gainsboro; */
}
}
#overall {
position: relative;

height: 100vh;
}
#mt {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius: 1rem;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 5rem;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #1651d1; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
/* firefox */
.slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: #da115e; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
